.Mytext {
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

.panelClon{
    -fx-background-color:  #8B0000;    
}

.bImg{
     -fx-background-image:url('/img/OF_externa.png');
     -fx-background-repeat: no-repeat;
     -fx-background-size: 50px;
     -fx-background-position: center;     
     -fx-background-radius: 50px;
}
.bImg:pressed{ 
    -fx-background-size: 45px;
}

